/*
    Created on : Dec 23, 2013, 9:52:19 PM
    Author     : Umesh Kumar <umeshsingla05@gmail.com>
*/
.user-taxonomy-wrapper {
	background: none;
	/*box-shadow: 0 0 2px 1px rgba(0, 0,0,0.2);*/
	border-radius: 4px;
	/*padding: 0 10px;*/
}

.user-taxonomies-page {
	.form-table th {
		padding-left: 4px;
		width: 85px;
	}
}

.howto {
	clear: left;
}

.float-left {
	float: left;
}


.user-taxonomy-wrapper {
	th {
		background: none !important;
		border: 0 !important;
	}

	td,
	.odd td {
		border: none !important;
		background: none !important;
	}

	#membership-wrapper & {

		th {
			color: inherit;
			font-weight: 100;
			padding: 0 20px 0 0;
			text-align: right;
			vertical-align: top;
			width: 150px;
		}

		td {
			padding: 0;
		}
	}
}

.user-profile-taxonomy {

    li {
        list-style: none;
    }

    .taxonomy-wrapper {
        display: inline-block;
        position: relative;
    }
}

/**
Template Styling
 */
.ut-content__users-list {
	display: flex;
	flex-direction: row;
	column-gap: 2rem;
}

.ut-content__user {
	display: flex;
	flex-basis: 100%;
	flex-direction: column;
	row-gap: 1rem;

	@media (min-width: 992px) {
		flex-basis: 33.33%;
	}
}

.ut-content__user-title {
	a {
		font-size: 20px;
		font-weight: 700;
		text-decoration: none;
	}
}

.ut-taxonomy-filter {
	display: inline-block;
	float: none;
}

.ut-reset-filters {
	margin-left: 10px;
}