/*
    Created on : Dec 23, 2013, 9:52:19 PM
    Author     : Umesh Kumar <umeshsingla05@gmail.com>
*/
.user-taxonomy-wrapper {
	background: none;
	/*box-shadow: 0 0 2px 1px rgba(0, 0,0,0.2);*/
	border-radius: 4px;
	/*padding: 0 10px;*/
}

.user-taxonomies-page {
	.form-table th {
		padding-left: 4px;
		width: 85px;
	}
}

.howto {
	clear: left;
}

.float-left {
	float: left;
}

#message.updated {
	margin-left: 0;
	padding: 6px;
}

#editusertaxonomy .submit {
	float: left;
}

.ut-back-link {
	text-decoration: none;
	margin-right: 25px;
	float: right;
}

.user-taxonomy-wrapper {
	th {
		background: none !important;
		border: 0 !important;
	}

	td,
	.odd td {
		border: none !important;
		background: none !important;
	}

	#membership-wrapper & {

		th {
			color: inherit;
			font-weight: 100;
			padding: 0 20px 0 0;
			text-align: right;
			vertical-align: top;
			width: 150px;
		}

		td {
			padding: 0;
		}
	}
}

.user-profile-taxonomy {

    li {
        list-style: none;
    }

    .taxonomy-wrapper {
        display: inline-block;
        position: relative;
    }
}

/**
Template Styling
 */
.ut-term-users-list li {
	display: inline-block;
	list-style: none;
	margin: 10px;
	padding: 3px;

    img {
        display: block;
        margin: 0 auto;
    }

    h2 {
        margin: 10px;
    }
}

.ut-user-title {
	font-size: 14px;
}

.ut-taxonomy-filter {
	display: inline-block;
	float: none;
}

.ut-reset-filters {
	margin-left: 10px;
}